<h2>Sign up</h2>
<%= simple_form_for(@signup, :url => user_registration_path, :html => {:class => 'card_form form-vertical' }) do |f| %>
  <h3><%= @plan.titleize if @plan %> Subscription Plan</h3>
  <%= f.error_notification %>
  <%= display_base_errors @signup %>

  <%= f.input :plan, :as => :hidden %>
  <%= f.input :name, :label => 'Company Name', :required => true %>
  <%= f.input :subdomain, :label => 'URL', :required => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
<% end %>
