<!DOCTYPE html>
<html>
<head>
  <title>Rails Saas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="home">
  <%= render 'layouts/navigation' %>
  <article class="container">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </article>
</body>
</html>
